@import url('https://fonts.googleapis.com/css2?family=Almendra&family=Ceviche+One&family=Noto+Sans+JP&display=swap');

* {
    font-family: 'Ceviche One', cursive;
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

body {
}
/*navigasi*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: pink;
    border-bottom: 2px solid #ddd;
}
 
#judul {
    display: flex;
    text-align: center;
    letter-spacing: 1px;
    align-items: center;
    margin: 0 auto;
}
  
#judul h2 {
    margin-right: 5px;
}
  
#menu {
    display: flex;
    align-items: center;
}
  
#menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
  
#menu li {
    margin: 0 10px;
}
  
#menu a {
    display: block;
    padding: 10px 20px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition:all 0.2s ease;
}
  
#menu a:hover {
    background-color: #ddd;
}
  
#judul h2:first-child,
#judul h2:last-child {
    margin-right: auto;
}
  
#menu li:first-child {
    margin-right: auto;
}
  
#menu li:last-child {
    margin-left: auto;
}  
/*end navigasi*/
/*background*/
img {
    max-width: 100%;
    height: auto;
}
.background {
    position: relative;
    z-index: 2;
    height: 100vh;
    overflow: hidden;
}
#gerbang {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 100%;
    height: 100%;
    height: auto;
    max-height: 80vh;
    pointer-events: none;
}
#sakura
 {
    width: 600px;
    position: absolute;
    bottom: 50%;
    left: 49.9%;
    transform: translate(58.7%);
    z-index: 1;
    pointer-events: none;
}
#grass {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}
#ninja {
    width: 100%;
    max-width: 150px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
/*end bg*/
/*rules*/
#rules {
    padding: 1rem 2rem;
    background-color: #55527c;
    color: white;
    text-align: center;
}
/*end rules*/
@media only screen and (max-width: 600px) {
    #sakura {
        display: none;
    }
    #gerbang {
        max-width: 300px;
    }
    #rules {
        padding: 1rem 2rem;
        background-color: #55527c;
        color: white;
        text-align: center;
    }
}
@media only screen and (max-width: 767px) {
    #sakura {
        display: none;
    }
    #gerbang {
        max-width: 400px;
    }
    #rules {
        padding: 1rem 2rem;
        background-color: #358300;
        color: white;
        text-align: center;
    }
}