@import url('https://fonts.googleapis.com/css2?family=Almendra&family=Ceviche+One&family=Noto+Sans+JP&display=swap');

* {
    font-family: 'Ceviche One', cursive;
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(to bottom, #2b88d8, #71afe5, #c7e0f4, #deecf9, #eff6fc);
}
/*navigasi*/
nav {
    display: flex;
    text-align: center;
    padding: 1rem 2rem;
    background-color: #ff87b2;
    box-shadow: 0 0 5px 5px #c7c7c7;
    position: relative;
    height: 10vh;
  }
  
  #judul {
    display: flex;
    align-items: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
  
  #judul span {
    margin: 0 10px;
    font-size: 1.2rem;
  }

  #menu {
    font-size: 1.2rem;
    z-index: 2;
  }
  
  #menu-list ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin:  0;
  }
  
  #menu-list a {
    text-decoration: none;
    color: #fff;
    margin-left: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  }
  
  #menu-list a:hover {
    background-color: #fff;
    color: #ff87b2;
  }
  
  #About {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%,-50%);
    color: #fff;

  }
  
  #Ref {
    position: absolute;
    top: 50%;
    right: 35%;
    transform: translate(50%,-50%);
    color: #fff;
  }
  
  /* Animasi ketika cursor berada di atas brand name */
  #judul:hover {
    text-align: center;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.5);
  }
  
  /* Animasi ketika cursor berada di atas menu item */
  #menu-list a:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
  }
  
/*end navigasi*/
/*background*/
img {
    max-width: 100%;
    height: auto;
}
.background {
    position: relative;
    z-index: 2;
    height: 100vh;
    overflow: hidden;
}
#gerbang {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 100%;
    height: 100%;
    height: auto;
    max-height: 80vh;
    pointer-events: none;
}
#sakura
 {
    width: 600px;
    position: absolute;
    bottom: 50%;
    left: 49.9%;
    transform: translate(58.7%);
    z-index: 1;
    pointer-events: none;
}
#grass {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}
#ninja {
    width: 100%;
    max-width: 150px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#gerobak {
    width: 100%;
    max-width: 600px;
    height: auto;
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(350deg);
    display: none;
}
/*end bg*/
/*rules*/
#reference {
    padding: 1rem 2rem;
    background-color: #55527c;
    color: white;
    text-align: center;
}
#cart {
    width:9vh;
    gap: 10px;
    padding: 5px;
    color: white;
    border: 2px solid #d4ff15;
    border-radius: 50px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 15px;
    background-color: #418ceee5;
    position: absolute;
    top: 20%;
    left: 0;
    transform: scale(1.6) translate(100%, 0);
    z-index: 2;
}
#cart img {
    width: 22px;
    transform: translate(-25%, 0);
}
#cart:hover{
    box-shadow: 0 0 5px 2px rgb(51, 51, 51);
    transition: all 0.2s ease-in-out;
}

/*end rules*/
@media only screen and (max-width: 600px) {
    #sakura {
        display: none;
    }
    #gerbang {
        max-width: 300px;
    }
    #reference {
        padding: 1rem 2rem;
        background-color: #55527c;
        color: white;
        text-align: center;
    }
}
@media only screen and (max-width: 767px) {
    #sakura {
        display: none;
    }
    #gerbang {
        max-width: 400px;
    }
    #reference {
        padding: 1rem 2rem;
        background-color: #358300;
        color: white;
        text-align: center;
    }
}