@import url('https://fonts.googleapis.com/css2?family=Almendra&family=Ceviche+One&family=Noto+Sans+JP&display=swap');

* {
    font-family: 'Ceviche One', cursive;
}


body{
    background: linear-gradient(to bottom, #23395d, #203354, #1c2e4a, #192841, #152238);
}

nav {
    display: flex;
    text-align: center;
    padding: 1rem 2rem;
    background-color: #ff87b2;
    box-shadow: 0 0 5px 5px #c7c7c7;
    position: relative;
    height: 10vh;
  }

  #judul {
    display: flex;
    align-items: center;
    
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 2px;
    width: 100%;
  }

  #judul a
  {
    text-decoration: none;
    display: flex;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  }

  #judul span {
    margin: 0 10px;
    font-size: 1.2rem;
    color: #fff;
  }

  #judul h2
  {
    color: #fff;
  }

  #menu {
    font-size: 1.2rem;
    z-index: 2;
  }

  #menu-list ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin:  0;
  }

  #menu-list a {
    text-decoration: none;
    color: #fff;
    margin-left: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  }

  #menu-list a:hover {
    background-color: #fff;
    color: #ff87b2;
  }

  #About {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%,-50%);
    color: #fff;
  }

  #Ref {
    position: absolute;
    top: 50%;
    right: 35%;
    transform: translate(50%,-50%);
    color: #fff;
  }

  /* Animasi ketika cursor berada di atas brand name /
  #judul:hover {
    text-align: center;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.5);
  }

  / Animasi ketika cursor berada di atas menu item */
  #menu-list a:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
  }

/*CARD*/
/*
img {
  width: 20%;
}

.parent {
  display: flex;
  align-items: center;
  height: 100%;
}
.section {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  height: 300px;
  width: 15%;
}
.section_item {
  scroll-snap-align: start;
}
END CARD*/