@import url('https://fonts.googleapis.com/css2?family=Almendra&family=Ceviche+One&family=Noto+Sans+JP&display=swap%27');

html{
    font-family: 'Ceviche One', cursive;
}

body {
    margin: 0;
    padding: 0;
}

#container {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

#moneycounterblock {
    position: absolute;
    top: 0vh;
}

#character {
    margin: 0;
    padding: 0;
}

#character img {
    margin: 0;
    padding: 0;
    width: 20vw;
    height: auto;
    transition: all 0.25s ease-out;
}

/*//////////////*/

#konten {
    position: absolute;
    left: 1vw;
    top: 1vh;
}

#upgrade {
    font-family: 'Ceviche One', cursive;
    font-size: 32px;
    color: #4e4e51;
    text-shadow: 1px 1px 1px #000;
    margin-bottom: 1vh;
}

#sushi {
    font-family: 'Ceviche One', cursive;
    font-size: 32px;
    text-shadow: 1px 1px 1px #000, -1px -1px 2px #fff;
    color: #ff9924;
    border: 2px solid black;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    margin: 2px;
    margin-bottom: 10px;
    background-color: orange;
    display: flex;
    justify-content: space-between;
}

#onigiri {
    font-family: 'Ceviche One', cursive;
    font-size: 32px;
    text-shadow: 1px 1px 1px #000, -1px -1px 2px #fff;
    color: #6eab1f;
    border: 2px solid black;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    margin: 2px;
    margin-bottom: 10px;
    background-color: rgb(82, 170, 58);
    display: flex;
    justify-content: space-between;
}

#tempura {
    font-family: 'Ceviche One', cursive;
    font-size: 32px;
    text-shadow: 1px 1px 1px #000, -1px -1px 2px #fff;
    color: #ff8324;
    border: 2px solid black;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    margin: 2px;
    margin-bottom: 10px;
    background-color: rgb(248, 94, 33);
    display: flex;
    justify-content: space-between;
}

#sushi img, #onigiri img, #tempura img {
    width: 30px;
}

#sushi:hover {
    transition: all 0.5s ease;
    box-shadow: 0 0 5px 2px orange;
    background-color: #ffaf3f;
    color: #ffb043;
}

#onigiri:hover {
    transition: all 0.5s ease;
    box-shadow: 0 0 5px 2px rgb(82, 170, 58);
    background-color: #86ed00;
    color: #6eab1f;
}

#tempura:hover {
    transition: all 0.5s ease;
    box-shadow: 0 0 5px 2px rgb(248, 94, 33);
    background-color: #ff6e30;
    color: #ff9924;
}

#jsushi, #jonigiri, #jtempura {
    font-size: 2rem;
    display: flex;
}

#hsushi, #honigiri, #htempura {
    color: #4e4e51;
    text-shadow: 1px 1px 1px #000;
    margin-left: 10px;
}

/*////////////////////////////////////*/

#popup
{
    position: absolute;
    flex-direction: column;
    background-color: #f9cfc2;
    border: solid 2px #55527c;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    display: flex;
    width: 40%;
    z-index: 999;
    opacity: 0;
    transform: scale(0.5) translate(0, 50%);
    animation: popup 1s linear forwards, 
    bounce 2s ease-in-out,
    disappear 4s forwards;
}

#content
{
    font-family:  'Ceviche One', cursive;
    background-clip: text;
    color: #55527c;
    -webkit-text-stroke: 3px 0px 3px #000;
    font-size: 25px;
    margin: 0px;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    display: flex;
}

@keyframes popup {
    0% {
        opacity: 0;
        transform: scale(0.5) translate(0, 50%);
    }
    100% {
        opacity: 1;
        transform: scale(1) translate(0, 0);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(5px, -10px);
    }
}

@keyframes disappear {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}