@import url('https://fonts.googleapis.com/css2?family=Almendra&family=Ceviche+One&family=Noto+Sans+JP&display=swap%27');

html{
    font-family: 'Ceviche One', cursive;
}

body {
    margin: 0;
    padding: 0;
}

#moneycounterblock {
    position: relative;
    top: -20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

#container {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

#character {
    margin: 0;
    padding: 0;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#character img {
    margin: 0;
    padding: 0;
    width: 20vw;
    height: 20vw;
}

#hide {
    display: none;
}